# https://github.com/nix-community/nix-direnv

# Manual reload only: `nix-direnv-reload`
# nix_direnv_manual_reload

# Don't fall back on previous working env when build fails
# nix_direnv_disallow_fallback

watch_dir nix/
watch_file .ruby-version
watch_file gemset.nix

use flake
